<!-- start custom head snippets -->

<!-- Pretendard variable font (Korean-optimized sans) -->
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
<link rel="stylesheet" as="style" crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css">

<!-- insert favicons. use https://realfavicongenerator.net/ -->
{% if page.use_math %}
	{% include mathjax-support.html %}
{% endif %}


<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/images/favicon-16x16.png">
<link rel="manifest" href="{{site.baseurl}}/assets/images/site.webmanifest">
<link rel="mask-icon" href="{{site.baseurl}}/assets/images/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->